// PAGE LAYOUT
.multi-step-container {
  display: grid;
  min-height: 100dvh;
  max-width: 1440px;
  margin-inline: auto;
  grid-auto-rows: auto 1fr auto;
  grid-template-areas:
    "steps"
    "form"
    "controls";
}

// STEP NUMBERS
aside.side-steps {
  grid-area: steps;
  background-image: url("/assets/images/bg-sidebar-mobile.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  gap: 1rem;

  .side-step {
    counter-increment: step-counter;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 700;
    font-size: 0.75rem;

    .step-number {
      width: 2rem;
      aspect-ratio: 1;
      border-radius: 100vh;
      border: 1px solid var(--white);
      display: grid;
      place-items: center;
      transition: background var(--tarnsition-duration);

      &::after {
        content: counter(step-counter);
      }
    }

    &.active .step-number {
      background-color: var(--light-blue);
      color: var(--marine-blue);
      border: none;
    }

    .step-label {
      :first-child {
        opacity: 0.5;
        font-weight: 400;
      }
      :first-child::after {
        content: " " counter(step-counter);
      }
      :nth-child(2) {
        letter-spacing: 1.5px;
      }
    }
  }
}

// STEP FORMS
section.form-section {
  grid-area: form;

  .form-container {
    display: grid;
    gap: 2rem;

    .input-container {
      display: flex;
      flex-wrap: wrap;

      .validation-error {
        margin-inline-start: auto;
        font-weight: 500;
        color: var(--strawberry-red);
      }

      input {
        width: 100%;

        &.ng-touched.ng-invalid {
          border-color: var(--strawberry-red);
        }
      }
    }

    //.plan-container {
    //  display: grid;
    //  gap: 0.5rem;
    //}
  }
}

// STEP CONTROLS
section.form-controls {
  grid-area: controls;
  padding: 1rem;
  display: flex;

  .next-button {
    margin-inline-start: auto;
  }
}

// MEDIA QUERIES
// DESKTOP
@media screen and (width >= 700px) {
  .multi-step-container {
    grid-auto-columns: auto 1fr;
    grid-auto-rows: 1fr auto;
    grid-template-areas:
      "steps form"
      "steps controls";
    padding: 1rem;
    gap: 1rem;
  }

  aside.side-steps {
    width: clamp(230px, 20vw + 5rem, 280px);
    padding: 2rem;
    gap: clamp(2rem, 5vh + 0.5rem, 3rem);
    flex-direction: column;
    justify-content: start;
    background-image: url("/assets/images/bg-sidebar-desktop.svg");
    background-position: bottom;
    border-radius: 10px;

    .side-step {
      display: grid;
      gap: 1rem;
      grid-template-columns: auto 1fr;
      align-items: center;
    }
  }

  section {
    width: min(100%, 750px);
    margin-inline: auto;

    .form-step {
      padding: 1rem;
    }
  }
}

//MOBILE
@media screen and (width < 700px) {
  .multi-step-container {
    background-color: var(--light-blue);
  }

  aside.side-steps {
    padding-block: 2rem 8rem;

    .step-label {
      display: none;
    }
  }

  section.form-section {
    margin-top: -7rem;

    .form-step {
      background-color: var(--white);
      padding: 1.2rem;
      margin: 1rem;
      border-radius: 10px;
      box-shadow: 0 5px 20px -3px rgba(120, 120, 120, 0.2);
    }
  }

  section.form-controls {
    background-color: var(--white);
  }
}
