/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

:root {
  // variables
  --tarnsition-duration: 500ms;

  //neutral colors
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  //accent colors
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  //--light-blue: hsl(206, 94%, 87%);
  --light-blue: hsl(215, 100%, 97%);
  --strawberry-red: hsl(354, 84%, 57%);
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("assets/fonts/ubuntu-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: url("assets/fonts/ubuntu-medium-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  src: url("assets/fonts/ubuntu-bold-webfont.woff2") format("woff2");
}

body {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  color: var(--cool-gray);
  margin: 0;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-block: 0.6em;
  color: var(--marine-blue);
}

button {
  font-family: "Ubuntu" !important;
  opacity: 1;
  transition: opacity var(--tarnsition-duration);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media screen and (width >= 700px) {
  h3 {
    font-size: 2rem;
  }
}
